@charset "UTF-8";
html,
body {
  height: 100%;
  width: 100%;
}
html,
body,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
  display: inline-block;
}
.btn {
  display: inline-block;
  width: 110px;
  padding: 10px;
  background-color: #64a8a6;
  color: #dafffe;
  text-align: center;
  font-weight: 700;
  font-family: 'Microsoft YaHei';
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
  box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
  text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: .15s;
  -webkit-transition-timing-function: ease-in-out;

}
.btn:hover {
  background-color: #73c2c0;
}
.btn:active {
	background-color: #5a9896;
  
}
.other {
	display: block;
	margin-top: 10px;
  position: absolute;
  left: 50%;
  margin-left: -204px;
}
.other p {
  text-align: center;
}